@charset "utf-8";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto; 
	grid-template-areas: 
  		"header"
			"left"
			"main"
			"right"
			"footer";		
	min-height: 100vh;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}
header {
	grid-area: header;
	background-color: #FF00FF;
}
side-left {
	grid-area: left;
	background-color: #00FFFF;
}
main {
	grid-area: main;
	background-color: #000000;
	color: #FF00FF;
}
side-right {
	grid-area: right;
	background-color: #00FFFF;
}
footer {
	grid-area: footer;
	background-color: #FF00FF;
}

@media screen and (min-width:576px) and (max-width:991px) {
  body {
  	grid-template-columns: 1fr 1fr;
		grid-template-rows: auto; 
		grid-template-areas: 
		"header header"
		"left right"
		"main main"
		"footer footer";  
  }
  
}
@media screen and (min-width:992px) {
  body {
  	grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: auto 1fr auto; 
		grid-template-areas: 
		"header header header"
		"left main right"
		"footer footer footer";  
  }
  
}