@charset "utf-8";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.base-styling{
		margin: 	2em; 
		padding: 	2em;
		border: 1em solid red; 
		width: 	30em;
		background-color: yellow	;
}
.content-styling {
		box-sizing: 	content-box	;
	
}
.border-styling {
		box-sizing: 	border-box	;
}

